<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Conferencing Homepage</title>
    <!-- Importing Font Awesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <!-- Defining a JavaScript variable for the room ID -->
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>

    <!-- Inline CSS for the call button -->
    <style>
      .callButton {
        border: 4px solid #ffffff;
        padding: 10px;
        margin: 10px 0;
      }
    </style>
  </head>

  <body class="index-body">
    <div id="homepage">
      <h1 style="color: white">Welcome to Zoom Clone!</h1>
    </div>

    <!-- Login form for admins -->
    <div class="container">
      <form action="/login" method="post">
        <div class="row">
          <h2 style="text-align: center">Login to activate call</h2>
          <div class="col">
            <input type="email" name="email" placeholder="Email" required />
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <input type="submit" value="Login" />
          </div>
        </div>
      </form>
    </div>

    <!-- Form for participants to join a call -->
    <div class="callButton">
      <p style="color: white; padding: 20px 0 0 0; text-align: center">
        If you are a participant, please enter your ID number
      </p>
      <form id="join-call-form" action="/joincall" method="post">
        <input
          type="number"
          id="participant-id"
          name="participantId"
          placeholder="Participant ID"
          style="margin-left: auto; margin-right: auto; display: block"
        />
        <button
          type="submit"
          id="start-call-button"
          style="display: block; margin-left: auto; margin-right: auto"
        >
          Start Call
        </button>
      </div>
    </body>
    

    <!-- Admin Button -->
    <div class="callButton">
      <p
        style="color: white; padding: 20px 0 0 0; text-align: center"
        id="adminParagraph"
      >
        If you are an admin, please click the "Admin" button to login
      </p>
      <button
        id="admin-button"
        style="display: block; margin-left: auto; margin-right: auto"
      >
        Admin
      </button>
    </div>
  </body>
  
  <script src="script.js"></script>

  <script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };

    // Ensure DOM content is fully loaded
    const container = document.querySelector(".container");
    const adminParagraph = document.getElementById("adminParagraph");
    const callButton = document.querySelector(".callButton");
    container.style.display = "none";
    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .getElementById("admin-button")
        .addEventListener("click", function () {
          if (container.style.display === "none") {
            container.style.display = "block";
            adminParagraph.innerHTML =
              "Click this button again to go back to main page";
            callButton.style.display = "none";
          } else {
            container.style.display = "none";
            adminParagraph.innerHTML =
              'If you are admin, please click the "Admin" button to login';
            callButton.style.display = "block";
          }
        });
    });
  </script>

  </html>